{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-12 col-md-6 my-5">
    <h2>Book a Therapy Session</h2>
    <p>Please fill in the form to book your therapy session.</p>
    <p>Read our <a href="#session-policy">Session Policy</a> before confirming your booking.</p>

    <!-- Booking form -->
    <form id="bookingForm" method="post">
        {% csrf_token %}
        {{ booking_form.media }}
        {{ booking_form|crispy }}
        <button class="btn btn-secondary" type="submit">Book Session</button>
    </form>
</div>

<div class="row justify-content-center">
    <div class="col-12 col-md-6 contact-background">
        <div class="callout text-center" id="session-policy">
            <h2>Session Policy:</h2>
            <p>Please arrive on time for your appointment. Sessions typically last 50 minutes.</p>
            <p>If you need to cancel or reschedule, kindly give at least 24 hours’ notice.</p>
            <p>Confidentiality is maintained at all times unless there is a risk of harm to yourself or others.</p>
        </div>
    </div>
</div>

<!-- Booking confirmation Modal -->
<div class="modal fade" id="bookingconfirmationModal" tabindex="-1" role="dialog"
    aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="confirmationModalLabel">Booking Confirmation</h2>
            </div>
            <div class="modal-body text-center">
                <p>Thank you for booking a session with us.</p>
                <p>We look forward to supporting you in your therapy journey.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}
