/*General content*/
body {
    background-color: #d9e8cc;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.col-12, .col-md-6 {
    padding-left: 0; 
    padding-right: 0; 
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/*Navigation bar*/
.navbar-brand {
    font-family: 'Courgette', cursive;
    margin-right: 10px;
}

nav {
    background-color: #d9e8cc;
}

.nav-item {
    margin: auto;
}

.social-icon-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 5px;
    display: flex;
}