/*General content*/
body {
    background-color: #d9e8cc;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;

    /* Footer positioning */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* ensures footer stays at bottom if body has little content */
}

.container {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}

.col-12, .col-md-6 {
    padding-left: 0; 
    padding-right: 0; 
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

/*Navigation bar*/
.navbar-brand {
    font-family: 'Courgette', cursive;
    margin-right: 10px;
}

nav {
    background-color: #d9e8cc;
}

.nav-item {
    margin: auto;
}

.social-icon-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    margin: 5px;
    display: flex;
}

/*Header/main page*/
.header {
    height: 60vh;
    background: url('/static/images/header_background_main_page.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.callout {
    background-color: rgba(217, 232, 204, 0.4);
    padding: 20px 40px;
    max-width: 90%;
}

/*Enquiries page*/
.contact-background {
    height: 60vh;
    background: url('../images/indianlivingroom.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

/* Yoga Sessions page header */
.session-header {
    height: 60vh; /* adjust as needed */
    background: url('/static/images/header_background_main_page.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.session-header .menu-btn {
    margin: 10px;
}

/* Map page layout */

.map {
    height: 50vh;
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.findus-text {
    background-color: rgba(255,236,236,0.8);
    padding: 20px;
}

.findus-header {
    height: 50vh;
    background: url('/static/images/yoga_master.png') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    padding: 0;
}

/* Responsive adjustments for small screens */
@media (max-width: 576px) {
    .findus-header {
        height: 40vh;
    }
    .findus-text {
        padding: 10px;
        max-width: 95%;
    }
}


