{% extends "base.html" %}
{% load static %}

<!-- index.html content starts here -->
{% block content %}

<div class="container header">
  <div class="row">
    <div class="col-12 callout jumbotron text-center">
      <h1 class="jumbotron-header">Welcome to our Yoga Therapy Centre!</h1>
      <p>A healing space for holistic yoga therapy and mindful living</p>
    </div>
  </div>
</div>

<!--Information section-->
<div class="container information mt-3">
  <div class="row">
    <div class="col-12">
      <p>Nestled in the heart of Bristol, our Yoga Therapy Centre offers a peaceful retreat from the noise of everyday life. 
        Rooted in the principles of holistic healing, our sessions are designed to support physical, mental, and emotional well-being. 
        Whether you're seeking balance, relief from stress, or support in your personal journey, our qualified practitioners are here to guide you in a warm and supportive environment.</p>
      <div class="opening-hours mt-5">
        <h4>Opening hours:</h4>
        <h6>Monday - Friday: 1pm - 10pm</h6>
        <h6>Saturday: 9am - 5pm</h6>
        <h6>Sunday: Closed</h6>
      </div>
    </div>
  </div>
</div>

<!--Booking section-->
<div class="container booking mt-5">
  <div class="row align-items-center">
    <div class="col-sm-12 col-md-6 img-fluid booking-image">
      <img src="/static/images/yogacentrehome.jpg" alt="image of yoga centre">
    </div>
    <div class="col-md-6 text-center align-items-center justify-content-center d-none d-md-flex">

    </div>
  </div>
</div>

<!--Contact section-->
<div class="container contact mt-5 mt-md-2">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-12 col-md-6 text-center">
      <h2>Contact us at:</h2>
      <h6>Mail: <a href="mailto:info@yogatherapycentre.com">info@yogatherapycentre.com</a></h6>
      <h6>Phone: +44 66 66 66 66</h6>

    </div>
    <div class="col-sm-12 col-md-6 img-fluid contact-image text-md-right mt-5 d-none d-md-flex">
      <img src="/static/images/holisticpractice.jpg" alt="image of holistic practice">
    </div>
  </div>
</div>

<!--Services and Team section-->
<div class="container services mt-5">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">

    </div>
  </div>
</div>

{% endblock %}